@page "/"
@using Models

<PageTitle>Game Catalog</PageTitle>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release date</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.RealeaseDate</td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private GameSummary[] games =
    [
    new()
{
Id = 1,
Name = "Street Fighter II",
Genre = "Fighting",
Price = 19.99M,
RealeaseDate = new DateOnly(1999, 7, 15)
},

new()
{
Id = 2,
Name = "Final Fantasy XIV",
Genre = "Roleplaying",
Price = 9.99M,
RealeaseDate = new DateOnly(2010, 9, 30)
},

new()
{
Id = 3,
Name = "Fifa 23",
Genre = "Sport",
Price = 69.99M,
RealeaseDate = new DateOnly(2022, 9, 27)
}
    ];
}